<!-- Card di Inizio Analisi -->
<div class="card border-0 shadow-sm mb-4 mt-lg-6">
  <div class="card-body py-3">
    <!-- Intestazione stile "FILTRI" -->
    <div class="d-flex align-items-center mb-3">
      <mat-icon class="text-primary me-2" style="font-size: 20px; width: 20px; height: 20px"
        >analytics</mat-icon
      >
      <span class="text-uppercase small panel-title">Analisi</span>
    </div>

    <!-- Bottone START (Verde come da tua richiesta) -->
    <button
      class="btn btn-success px-4 fw-bold d-flex align-items-center shadow-none text-uppercase"
      (click)="startAnalize()"
    >
      <mat-icon class="me-2">play_arrow</mat-icon>
      Start
    </button>
  </div>
</div>

<!--  (Terminale) -->
@if (isStarted) {
  <app-execution-terminal></app-execution-terminal>
}
