.dropzone {
  transition: all 0.25s ease;
  min-height: 220px;
  align-items: center;
  justify-content: center;
  background: var(--bs-tertiary-bg);
  cursor: pointer;
  width: 25%;

  &:hover {
    background: rgba(var(--bs-primary-rgb), 0.05);
  }
}

.drag-over {
  border-style: dashed !important;
  background: rgba(var(--bs-primary-rgb), 0.1) !important;
  box-shadow: 0 0 0 0.3rem rgba(var(--bs-primary-rgb), 0.2);
}