

@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@theme {
  --color-vurpe-background: #F8F9FA;
  --color-vurpe-body: #F5F5F5;
  --color-vurpe-card: #8B5E3C;
  --color-vurpe-border: rgba(0, 0, 0, 0.05);
  --color-vurpe-primary-text: #1A1A1A;
  --color-vurpe-secondary-text: #666666;
  --color-vurpe-muted: #999999;

  --color-vurpe-success-text: #059669;
  --color-vurpe-success-body: #ECFDF5;

  --color-vurpe-elaborate-text: #2563EB;
  --color-vurpe-elaborate-body: #EFF6FF;

  --color-vurpe-error-text: #DC2626;
  --color-vurpe-error-body: #FEF2F2;

  --color-vurpe-graph-line: #1A1A1A;
  --color-vurpe-graph-grill: #F0F0F0;



  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}


body {
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
